$bgcolor: #efeee8;
$fcardbody: #eee;

body {
  background-color: $bgcolor;

  p {
    font-size: 20px;

  }
  h2{
    font-size: 25px;
  }
}

footer{
  .card-body{
    color: $fcardbody;
  }
}

header{
  padding-left: 12px;
}